{% comment %}
Re-use the 'rte' class wherever you output content that was added by a merchant using
the Rich Text Editor ( 'rte' stands for rich text editor ).
Style all HTML elements in that content the same way across the board.
Use the 'rte' class in your CSS to help maintain that consistency.
Example: the h2 element should have the same size and color in:
- product descriptions
- collection descriptions
- 'page' pages' content
- blog post
{% endcomment %}

<script type="text/javascript">
$(function() {
  $('.slideshow').flexslider({
    keyboard: true,
    animation: "fade",
    slideshow: true,
    slideshowSpeed: 15000,
    animationSpeed: 1000,
    touch: true,
    video: true,
    controlNav: true,
    directionNav: true,
    prevText: "<",
    nextText: ">",
    controlsContainer: ".pager"
  });
});
</script>

{% assign page = pages.welcome %}

<div class="rte">
  {{ page.content }}
</div>

<section class="hero">
<div class="slideshow">
  <ul class="slides">

   <li class="one">
    <div class="outer">
        <h1 class="white">Unite the<br>restless ones</h1>
    </div>
  </li>

  <li class="two">
     <div class="outer">
      <h1 class="white">Dare to be<br>greater</h1>
     </div>
  </li>

  <li class="three">
    <div class="outer">
        <h1 class="white">Through Every<br>Trial</h1>
    </div>
  </li>

  <li class="four">
    <div class="outer">
        <h1 class="white">For Life</h1>
    </div>
  </li>

  </ul>
  <div class="pager"></div>
</div>
</section>

<section class="homepage">
  <article>
  <aside class="third">
    <h3>Mission</h3>
     <p>A quiet revolution is afoot. It is the recognition that a life without challenge is a life without purpose. A movement of do-ers, not be-ers; driven by the desire for conquest over fear.</p>
     <a href="pages/mission/" class="btn">Learn More</a>
  </aside>

  <aside class="third">
    <h3>Products</h3>
    <figure>
      <a href="collections/all/">{{ 'products_index.jpg' | asset_url | img_tag }}</a>
  </figure>
  </aside>

  <aside class="third">
    <h3>Gear Refresh</h3>
    <p>We build products to be used and pushed to the limits. When your gear gets to that point of needing to be replaced, let us know and we'll hook you up.
    </p>
    <a href="pages/gear-refresh" class="btn">Learn More</a>
  </aside>
  </article>
</section>
