{% comment %}
Re-use the 'rte' class wherever you output content that was added by a merchant using
the Rich Text Editor ( 'rte' stands for rich text editor ).
Style all HTML elements in that content the same way across the board.
Use the 'rte' class in your CSS to help maintain that consistency.
Example: the h2 element should have the same size and color in:
- product descriptions
- collection descriptions
- 'page' pages' content
- blog post
{% endcomment %}

<script type="text/javascript">
$(function() {
  $('.slideshow').flexslider({
    keyboard: true,
    animation: "fade",
    slideshow: true,
    slideshowSpeed: 15000,
    animationSpeed: 1000,
    touch: true,
    video: true,
    controlNav: true,
    directionNav: true,
    prevText: "<",
    nextText: ">",
    controlsContainer: ".pager"
  });
});
</script>

{% assign page = pages.welcome %}

<div class="rte">
  {{ page.content }}
</div>

<section class="hero">
<div class="slideshow">
  <ul class="slides">

   <li class="one">
    <div class="outer">
        <h1 class="white">Unite the<br>restless ones</h1>
    </div>
  </li>

  <li class="two">
     <div class="outer">
      <h1 class="white">Dare to be<br>greater</h1>
     </div>
  </li>

  <li class="three">
    <div class="outer">
        <h1 class="white">Through Every<br>Trial</h1>
    </div>
  </li>

  <li class="four">
    <div class="outer">
        <h1 class="white">For Life</h1>
    </div>
  </li>

  </ul>
  <div class="pager"></div>
</div>
</section>

<section class="homepage">
  <article>
  <aside class="third">
    <h3>Mission</h3>
    <a href="pages/mission/">{{ 'bridge_index.jpg' | asset_url | img_tag }}</a>
     <p>Ten thousand hours or ten thousand miles, we are dedicated to the pursuit of excellence.</p>
  </aside>

  <aside class="third">
    <h3>Products</h3>
    <figure>
      <a href="collections/all/">{{ 'shorts.png' | asset_url | img_tag }}</a>
  </figure>
  </aside>

  <aside class="third">
    <h3>Gear Refresh</h3>
    <h2>
      Our Guarantee
      </h2>
    <p>Each Ten Thousand product is guaranteed for life.
    </p>
    <a href="mission/" class="btn">Learn More</a>
  </aside>
  <div class="clear"></div>
  </article>
</section>
