<section class="hero mission mission-one">
	<article>
		<h1 class="white mission-hero">The<br>Ten Thousand<br>Manifesto</h1>
	</article>
</section>

<section class="copy">

	<article class="clearfix">
	<p class="p-single-col">A quiet revolution is afoot. It is the recognition that a life without challenge is a life without purpose. A movement of do-ers, not be-ers; driven by the desire for conquest over fear, stasis, and self-doubt. Competition is fuel, but it is competition with oneself that liberates potential. Men constantly in pursuit of the next challenge and adventure, hungry to learn.</p> 
<p class="p-single-col">Life is rich with challenges and fraught with hardship, and nothing prepares us better for that than the intersection of body, mind and heart found in the pursuit of physical betterment. A better version of what you were yesterday mentally, physically, holistically. Our pursuits are varied, but the desire to define ourselves by a competitive, capable and curious spirit is consistent.</p>
<p class="p-single-col">Glory is found in the triumph over doubt and expectation. Patiently, purposefully, humbly we show up, alone or together, in twos, in tens, in hundreds, out of respect for ourselves and our team, out of appreciation to those who blessed us with strength and spirit, out of duty to those who cannot partake.</p>
<p class="p-single-col">It’s time for new blood. You know it and we know. Mass-market mediocrity has run amok; celebrity without character, gimmickry without purpose, flash without taste, traditions dishonored by artifice, hype without substance. We’re not suggesting you wear something that is simply more expensive, more highly endorsed or more gimmicky. We’re suggesting you wear what is right and what is essential. Products that can assist you in the full range of pursuits and deliver quietly, consistently, and effectively.</p>
</section>

<section class="mission mission-two">
	<article>
		<h1 class="white mission-hero">Company</h1>
	</article>
</section>

<section class="copy">

	<article class="clearfix">
	<p class="p-single-col">Ten Thousand is about dedication to the past and to the future. Ten thousand hours or ten thousand miles, we are dedicated to the pursuit of excellence over the long haul.</p>
	
	<div class="mission-highlight clearfix">
	<figure class="mission-highlight-img"></figure>
	<aside class="mission-highlight-copy"><h1>Multi-Discipline</h1>
	<p>We champion the champions, the fighters, the hurdlers of adversity and self-doubt. Ten Thousand is the finish line we'll never reach, the limit we'll never stop pushing. It is the level playing field that every athlete plays on, the never-ending game where resolve is your only rival.</p></aside>
	</div>
	<div class="mission-highlight clearfix">
	<aside class="mission-highlight-copy"><h1>Fabric</h1>
	<p>We champion the champions, the fighters, the hurdlers of adversity and self-doubt. Ten Thousand is the finish line we'll never reach, the limit we'll never stop pushing. It is the level playing field that every athlete plays on, the never-ending game where resolve is your only rival.</p></aside>
	<figure class="mission-highlight-img-2"></figure>
	</div>
	<div class="mission-highlight clearfix">
	<figure class="mission-highlight-img"></figure>
	<aside class="mission-highlight-copy"><h1>Construction</h1>
	<p>We champion the champions, the fighters, the hurdlers of adversity and self-doubt. Ten Thousand is the finish line we'll never reach, the limit we'll never stop pushing. It is the level playing field that every athlete plays on, the never-ending game where resolve is your only rival.</p></aside>
	</div>
	<div class="mission-highlight clearfix">
	<aside class="mission-highlight-copy"><h1>Streamlined Selection</h1>
	<p>We champion the champions, the fighters, the hurdlers of adversity and self-doubt. Ten Thousand is the finish line we'll never reach, the limit we'll never stop pushing. It is the level playing field that every athlete plays on, the never-ending game where resolve is your only rival.</p></aside>
	<figure class="mission-highlight-img-2"></figure>
	</div>
	<div class="mission-highlight clearfix">
	<figure class="mission-highlight-img"></figure>
	<aside class="mission-highlight-copy"><h1>Vision</h1>
	<p>We champion the champions, the fighters, the hurdlers of adversity and self-doubt. Ten Thousand is the finish line we'll never reach, the limit we'll never stop pushing. It is the level playing field that every athlete plays on, the never-ending game where resolve is your only rival.</p></aside>
	</div>
	

	</article>

</section>

<section class="hero mission mission-three">
	<article>
		<h1 class="white mission-hero">Our<br>Values</h1>
	</article>
</section>

<section class="copy">

	<article class="clearfix">
	
		<ol class="values-list">
			<li><figure>1</figure><span>Vestibulum id ligula porta felis euismod semper.</span></li>
			<li><figure>2</figure><span>Duis mollis, est non commodo luctus, nisi erat porttitor.</span></li>
			<li><figure>3</figure><span>Donec ullamcorper nulla non metus auctor fringilla.</span></li>
			<li><figure>4</figure><span>Sed odio dui.</span></li>
			<li><figure>5</figure><span>Vestibulum id ligula porta felis euismod semper.</span></li>
			<li><figure>6</figure><span>Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</span></li>
			<li><figure>7</figure><span>Donec ullamcorper nulla non metus auctor fringilla.</span></li>
			<li><figure>8</figure><span>Lorem ipsum de odio dui.</span></li>
			<li><figure>9</figure><span>Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</span></li>
			<li><figure>10</figure><span>Nullam quis risus eget urna mollis ornare vel eu leo.</span></li>
		</ol>

	</article>
</section>
