<section class="hero mission mission-one">
	<article>
		<h1 class="white mission-hero">The<br>Ten Thousand<br>Manifesto</h1>
	</article>
</section>

<section class="copy">

	<article class="clearfix">
	<p class="p-single-col">Ten Thousand is about dedication to the past and to the future. Ten thousand hours or ten thousand miles, we are dedicated to the pursuit of excellence over the long haul.</p>
	<p class="p-single-col">We champion the champions, the fighters, the hurdlers of adversity and self-doubt. Ten Thousand is the finish line we'll never reach, the limit we'll never stop pushing. It is the level playing field that every athlete plays on, the never-ending game where resolve is your only rival.</p>
	<p class="p-single-col">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas faucibus mollis interdum. Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur.</p>
	<p class="p-single-col">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam porta sem malesuada magna mollis euismod. Nullam quis risus eget urna mollis ornare vel eu leo. Vestibulum id ligula porta felis euismod semper. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
</section>

<section class="mission mission-two">
	<article>
		<h1 class="white mission-hero">Company</h1>
	</article>
</section>

<section class="copy">

	<article class="clearfix">
	<p class="p-single-col">Ten Thousand is about dedication to the past and to the future. Ten thousand hours or ten thousand miles, we are dedicated to the pursuit of excellence over the long haul.</p>
	
	<div class="mission-highlight clearfix">
	<figure class="mission-highlight-img"></figure>
	<aside class="mission-highlight-copy"><h1>Fabric &amp; Construction</h1>
	<p>We champion the champions, the fighters, the hurdlers of adversity and self-doubt. Ten Thousand is the finish line we'll never reach, the limit we'll never stop pushing. It is the level playing field that every athlete plays on, the never-ending game where resolve is your only rival.</p></aside>
	</div>
	<div class="mission-highlight clearfix">
	<aside class="mission-highlight-copy"><h1>Multi-Discipline</h1>
	<p>We champion the champions, the fighters, the hurdlers of adversity and self-doubt. Ten Thousand is the finish line we'll never reach, the limit we'll never stop pushing. It is the level playing field that every athlete plays on, the never-ending game where resolve is your only rival.</p></aside>
	<figure class="mission-highlight-img-2"></figure>
	</div>
	<div class="mission-highlight clearfix">
	<figure class="mission-highlight-img"></figure>
	<aside class="mission-highlight-copy"><h1>Streamlined Selection</h1>
	<p>We champion the champions, the fighters, the hurdlers of adversity and self-doubt. Ten Thousand is the finish line we'll never reach, the limit we'll never stop pushing. It is the level playing field that every athlete plays on, the never-ending game where resolve is your only rival.</p></aside>
	</div>
	<div class="mission-highlight clearfix">
	<aside class="mission-highlight-copy"><h1>Attention to Detail</h1>
	<p>We champion the champions, the fighters, the hurdlers of adversity and self-doubt. Ten Thousand is the finish line we'll never reach, the limit we'll never stop pushing. It is the level playing field that every athlete plays on, the never-ending game where resolve is your only rival.</p></aside>
	<figure class="mission-highlight-img-2"></figure>
	</div>
	<div class="mission-highlight clearfix">
	<figure class="mission-highlight-img"></figure>
	<aside class="mission-highlight-copy"><h1>Guarantee</h1>
	<p>We champion the champions, the fighters, the hurdlers of adversity and self-doubt. Ten Thousand is the finish line we'll never reach, the limit we'll never stop pushing. It is the level playing field that every athlete plays on, the never-ending game where resolve is your only rival.</p></aside>
	</div>
	

	</article>

</section>
